/* Styles for the carousel container */
.carousel-container {
    position: relative;
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
  }
  
  /* Styles for the content section which holds the cards */
  .carousel-content {
    display: flex;
    transition: transform 0.9s ease-in-out;
    will-change: transform;
  }
  
  /* Styles for individual cards */
  .carousel-card {
    flex: 0 0 20%; /* 20% of the container's width to show 5 cards */
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .carousel-card p {
    font-size: 18px;
    color: white;
    font-weight: 600;
    font-family: "Jost" , sans-serif;
  }
  /* Image inside the card */
  .carousel-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  /* Styles for the navigation arrows */
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0px;
  }
  
  /* Styles for the pagination dots */
  .carousel-pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .pagination-dot.active {
    background-color: #717171;
  }
  